

body{
  height: 100vh;
  background:#3a3a44
}
button {
  position: absolute;
  background: none;
  color: cadetblue;
  width: 15%;
  border: 1% solid #338033;
  font-size: 80%;
  border-radius: 0%;
  transition: .6s;
  top: 34%;
  left: 33%;
  transform: translate(-50%, - 50%)
}
.UberschriftInhalt{
  position: relative;
  top: 7%;
  left: 34%;
  transform: translate(-50%, - 50%)
}

.Kuh{
  font-size: 1%;
  position: relative;
  top: 15%;
  left: 27%;
  transform: translate(-50%, - 50%)
}
.text{
  position: relative;
  top: 10%;
  left: 35%;
  transform: translate(-50%, - 50%)
}
.hinweis{
  position: relative;
  top: 46%;
  left: 41%;
  transform: translate(-50%, - 50%)
}