  html, body{
      margin: 0;
      padding: 0;
      width: 0;
    }
body{
    height: 100vh;
    background:#3a3a44
}
button {
    background: none;
    color: cadetblue;
    width: 21%;
    border: 1% solid #338033;
    font-size: 85%;
    border-radius: 0%;
    transition: .6s;
    position: fixed;
    top: 33%;
    left: 45%;
    transform: translate(-50%, - 50%)
}
.UberschriftInhalt{
    position: fixed;
    top: 2%;
    left: 44%;
    transform: translate(-50%, - 50%)
}

.Kuh{
    font-size: 1%;
    position: fixed;
    top: 45%;
    left: 30%;
    transform: translate(-50%, - 50%)
}
.text{
    position: fixed;
    top: 13%;
    left: 45%;
    transform: translate(-50%, - 50%)
}
.hinweis{
    position: fixed;
    top: 42%;
    left: 45%;
    transform: translate(-50%, - 50%)
}