  html, body{
      margin: 0;
      padding: 0;
      width: 0;
    }
body{
    height: 100vh;
    background:#3a3a44
}
button {
    background: none;
    color: cadetblue;
    width: 18%;
    border: 1% solid #338033;
    font-size: 130%;
    border-radius: 0%;
    transition: .6s;
    position: absolute;
    top: 30%;
    left: 39%;
    transform: translate(-50%, - 50%)
}
.UberschriftInhalt{
    position: absolute;
    top: 0%;
    left: 40%;
    transform: translate(-50%, - 50%)
}

.Kuh{
    position: absolute;
    top: 46%;
    left: 36%;
    transform: translate(-50%, - 50%)
}
.text{
    position: absolute;
    top: 15%;
    left: 42%;
    transform: translate(-50%, - 50%)
}
.hinweis{
    position: absolute;
    top: 44%;
    left: 43%;
    transform: translate(-50%, - 50%)
}